.box-feedback {
  &__content {
    padding: 24px;
    min-height: 136px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color: var(--orange);
    background-image: url(../img/box-feedback/ornament.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 26px;
      line-height: 92%;
      color: var(--white);
    }

    a {
      border: 1px solid var(--orange);
      padding: 20px;
      min-width: 204px;
      border-radius: 14px;
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: var(--black);
      transition: border-color 0.4s ease-in-out;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        border-color: var(--white);
      }
    }
  }
}

@media (max-width: 1100px) {
  .box-feedback {
    &__content {
      padding: 36px;
      min-height: 132px;
      justify-content: space-between;

      p {
        max-width: 450px;
        font-size: 22px;
        line-height: 136%;
      }

      a {
        width: 100%;
        max-width: 256px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .box-feedback {
    &__content {
      flex-wrap: wrap;
      background-image: url(../img/box-feedback/ornament560.png);
    }
  }
}

@media (max-width: 550px) {
  .box-feedback {
    &__content {
      padding: 27px;
      gap: 27px;
      justify-content: center;

      p {
        max-width: 100%;
        font-size: 20px;
        line-height: 140%;
      }

      a {
        padding: 14px;
        font-size: 16px;
        line-height: 150%;
        max-width: 100%;
        min-width: 100%;
      }
    }

  }
}