.box-news {
  margin-bottom: 124px;
  &__line-top {
    margin-bottom: 16px;
  }
}


@media (max-width: 1100px) {
  .box-news {
    margin-bottom: 68px;
    &__line-top {
      margin-bottom: 12px;
      .link-all {
        display: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  .box-news {
    &__line-top {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 550px) {
  .box-news {
    margin-bottom: 44px;
    overflow: hidden;
  }
}