.box-feedback,
.box-feedback-jop {
  &__content {
    padding: 24px;
    min-height: 136px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color: var(--orange);
    background-image: url(../img/box-feedback/ornament.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 26px;
      line-height: 92%;
      color: var(--white);
    }
  }

  &__btn {
    border: 1px solid var(--orange);
    padding: 20px;
    min-width: 204px;
    border-radius: 14px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--black);
    transition: border-color 0.4s ease-in-out;

    &.active {
      &+.box-feedback__popup-modal {
        display: flex;
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      border-color: var(--white);
    }
  }

  &__popup-modal {
    padding: 0 16px;

    &.active {
      display: flex;
    }

    .popup-modal__window {
      border-radius: 0;
      padding: 0;
      position: relative;
      max-width: 629px;
      background-color: transparent;
    }
  }

  .form-1 {
    padding: 32px;
    background-color: var(--white);

    &__title {
      font-size: 24px;
      margin-bottom: 24px;
    }

    &__input,
    &__textarea {
      background-color: var(--gray-100);
    }

    &__input--error,
    &__textarea--error {
      background-color: rgb(235, 210, 210);
    }

    &__btn-group {
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.02em;
        color: var(--gray);
      }
    }
  }
}

.box-feedback-jop {
  &__btn {
    padding: 16px 35px;
    gap: 4px;

    .svg {
      margin: 5px 4px 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: var(--orange);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      color: var(--white);
      font-family: var(--font-family);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  .popup-modal__window {
    max-width: 533px;
  }
  .box-feedback__modal-scroll {
    width: 100%;
  }
  &__window-info {
    border-radius: 20px;
    padding: 44px;
    background-color: var(--white);
  }
  &__window-title {
    margin-bottom: 32px;
    padding: 0 3px;
    color: var(--black);
    text-align: center;
    font-family: var(--font-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.667%;
  }

  &__group-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__window-link {
    width: 100%;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    gap: 12px;
    border-radius: 16px;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    background-color: var(--gray-100);
    transition: border-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      border-color: var(--gray-100);
    }
  }
}

@media (max-width: 1100px) {
  .box-feedback {
    &__content {
      padding: 36px;
      min-height: 132px;
      justify-content: space-between;

      p {
        max-width: 450px;
        font-size: 22px;
        line-height: 136%;
      }

      a {
        width: 100%;
        max-width: 256px;
      }

      .popup-modal__window {
        max-width: 502px;
      }
    }
  }

  .box-feedback-jop {
    p {
      font-size: 21px;
      line-height: 133.333%;
    }

    &__wrapper {
      gap: 0;
    }

    &__btn {
      padding: 16px 24px;
    }
  }
}

@media (max-width: 1000px) {

  .box-feedback,
  .box-feedback-jop {
    &__content {
      flex-wrap: wrap;
      background-image: url(../img/box-feedback/ornament560.png);
    }

    &__modal-scroll {
      display: grid;
      place-items: center;
      height: 100vh;
      overflow: auto;
      padding: 16px 0;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .btn-download__close {
      position: static;
    }

    .form-1 {
      margin-bottom: 6px;

      &__title {
        margin-bottom: 20px;
      }
    }

    &__window-info {
      padding: 32px;
      margin-bottom: 6px;
    }
    &__window-title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &__group-links {
      gap: 8px;
    }

    &__window-link {
      padding: 10px;
      font-size: 18px;
    }
  }
}

@media (max-width: 550px) {

  .box-feedback,
  .box-feedback-jop {
    &__content {
      padding: 27px;
      gap: 27px;
      justify-content: center;

      p {
        max-width: 100%;
        font-size: 20px;
        line-height: 140%;
      }

      a {
        padding: 14px;
        font-size: 16px;
        line-height: 150%;
        max-width: 100%;
        min-width: 100%;
      }
    }

    .form-1 {
      padding: 20px;

      &__textarea {
        height: 260px;
      }

      &__btn-group {
        p {
          a {
            padding: 0;
            font-size: 13px;
            line-height: normal;
          }
        }
      }
    }
  }
}