.btn-download {
  display: flex;
  &__btn {
    border-radius: 20px;
    width: 100%;
    padding: 14px 32px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-100);
    border: 1px solid var(--white);
    transition: border-color 0.4s ease-in-out;
    .text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      text-align: start;
      color: var(--black);
    }
    .icon {
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--orange);
      border-radius: 100%;
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      border-color: var(--gray-100);
    }
    &.active + .popup-modal {
      display: flex;
    }
  }
  .popup-modal__window {
    position: relative;
    padding: 31px;
  }
  &__list-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    li {
      width: 100%;
    }
  }
  &__link {
    border-radius: 20px;
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-100);
    border: 1px solid var(--white);
    transition: border-color 0.4s ease-in-out;
    .text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 17px;
      line-height: 141%;
      color: var(--black);
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 36px;
      min-width: 36px;
      height: 36px;
      background-color: var(--white);
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      border-color: var(--gray-100);
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: calc(100% + 8px);
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transition: background-color 0.4s ease-in-out;
    span.text {
      display: none;
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--gray-100);
    }
  }
}

@media (max-width: 1100px) {
  .btn-download {
    &__btn {
      padding: 14px 24px;
      .text {
        font-size: 17px;
        line-height: 165%;
      }
      .icon {
        width: 32px;
        min-width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .btn-download {
    &__close {
      width: 100%;
      top: calc(100% + 4px);
      left: 0;
      right: 0;
      height: auto;
      padding: 14px;
      svg {
        display: none;
      }
      span.text {
        display: flex;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--black);
      }
    }
  }
}

@media (max-width: 550px) {
  .btn-download {
    &__btn {
      border-radius: 16px;
      padding: 14px 20px;
      .text {
        font-size: 16px;
        line-height: 175%;
      }
      .icon {
        width: 24px;
        min-width: 24px;
        height: 24px;
        svg {
          width: 14px;
          height: 10px;
        }
      }
    }

    .popup-modal {
      &__window {
        padding: 20px;
      }
    }

    &__list-links {
      gap: 6px;
    }

    &__link {
      padding: 12px 20px;
      .text {
        font-size: 16px;
        line-height: 131%;
      }
    }
  }
}