<div class="btn-switching-list">
  <a href="#" class="btn-switching-list__link switching-link">
    <svg width="18" height="12" viewBox="0 0 18 12" fill="none">
      <use xlink:href="img/sprite.svg#arrowSwitchingLeft"></use>
    </svg>
  </a>

  <div class="btn-switching-list__group">
    <a href="#" class="btn-switching-list__link active">
      1
    </a>
    <a href="#" class="btn-switching-list__link">
      2
    </a>
    <a href="#" class="btn-switching-list__link">
      3
    </a>
    <a href="#" class="btn-switching-list__link">
      4
    </a>
  </div>

  <a href="#" class="btn-switching-list__link switching-link">
    <svg width="18" height="12" viewBox="0 0 18 12" fill="none">
      <use xlink:href="img/sprite.svg#arrowSwitchingRight"></use>
    </svg>
  </a>
</div>