<div class="btn-download">
  <button class="btn-download__btn btn-reset">
    <span class="text">
      @@text
    </span>
    <span class="icon">
      <svg width="18" height="12" viewBox="0 0 18 12" fill="none">
        <use xlink:href="img/sprite.svg#arrowDownload"></use>
      </svg>
    </span>
  </button>

  <div class="btn-download__popup-modal popup-modal">
    <div class="popup-modal__window">
      <button class="btn-download__close btn-reset close">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <use xlink:href="img/sprite.svg#closeDownload"></use>
        </svg>
      </button>
      <ul class="btn-download__list-links list-reset">
        <li>
          <a href="#" download="#" class="btn-download__link">
            <span class="text">
              Руководство по эксплуатации НАРТИС-И100
            </span>
            <span class="icon">
              <svg width="12" height="16" viewBox="0 0 12 16" fill="none">
                <use xlink:href="img/sprite.svg#linkDownload"></use>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#" download="#" class="btn-download__link">
            <span class="text">
              Описание типа средства измерений НАРТИС-И100
            </span>
            <span class="icon">
              <svg width="12" height="16" viewBox="0 0 12 16" fill="none">
                <use xlink:href="img/sprite.svg#linkDownload"></use>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#" download="#" class="btn-download__link">
            <span class="text">
              Методика поверки НАРТИС-И100
            </span>
            <span class="icon">
              <svg width="12" height="16" viewBox="0 0 12 16" fill="none">
                <use xlink:href="img/sprite.svg#linkDownload"></use>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#" download="#" class="btn-download__link">
            <span class="text">
              Инструкция по снятию показаний
            </span>
            <span class="icon">
              <svg width="12" height="16" viewBox="0 0 12 16" fill="none">
                <use xlink:href="img/sprite.svg#linkDownload"></use>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#" download="#" class="btn-download__link">
            <span class="text">
              Инструкция по аппаратной блокировке реле НАРТИС-И100
            </span>
            <span class="icon">
              <svg width="12" height="16" viewBox="0 0 12 16" fill="none">
                <use xlink:href="img/sprite.svg#linkDownload"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>