<div class="drop-down-1">
  <button class="drop-down-1__btn btn-reset">
    <span>Продукция</span>
    <svg width="7" height="4" viewBox="0 0 7 4" fill="none">
      <use xlink:href="img/sprite.svg#arrowDrop1"></use>
    </svg>
  </button>
  <div class="drop-down-1__box">
    <button class="drop-down-1__btn-back btn-reset">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <use xlink:href="img/sprite.svg#arrowBackMenu"></use>
      </svg>
      <span>Назад в меню</span>
    </button>
    <ul class="drop-down-1__list list-reset">
      <li>
        <a class="nav-link" href="#">Приборы учета электрической энергии</a>
      </li>
      <li>
        <a class="nav-link" href="#">Счетчики воды</a>
      </li>
      <li>
        <a class="nav-link" href="#">Приборы учёта газа</a>
      </li>
      <li>
        <a class="nav-link" href="#">Коммуникационное оборудование</a>
      </li>
      <li>
        <a class="nav-link" href="#">Зарядные станции</a>
      </li>
      <li>
        <a class="nav-link" href="#">Микроконтроллеры</a>
      </li>
      <li>
        <a class="nav-link" href="#">Вспомогательные устройства</a>
      </li>
    </ul>
  </div>
</div>